* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 50px;
    display: inline-block;
    background-color: rgba(255, 255, 128, .5);
}

h1 {
    font-size: 150%;
    font-weight: bolder;  
    color: maroon;
    font-family: 'Courier New', Courier, monospace;
    text-align :center;
    text-transform: capitalize;
    margin: 2em;
}
.game-board {
    margin: auto;
    width:  470px;
    height: 470px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid teal;
    border-radius: 30px 90px 30px 90px;
    background-color: beige;
    cursor: pointer;  
   
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    margin: auto 0;
    border: 6px solid #ffa500;
    border-radius: 20px 40px 20px 40px;
    cursor: pointer;
    position: relative;
}

.card:hover {
    margin: 5px;
    position: sticky;
    top: 2px;
}

.front {
    border: 4px solid purple; 
    border-radius: 20px 40px 20px 40px;
    width: 100%;
    height: 100%;   
    position: absolute;
}

.back {
    border: 4px solid purple;
    border-radius: 20px 40px 20px 40px;
    width: 100%;
    height: 100%;   
    position: absolute;
}

.announcement {
    margin: 3em;
    text-align: center;
    position: relative;
}

.score-board {
    padding: 10px;
    text-align: center;
    position: relative;
}

#reset {
    margin: auto 0;
    padding: 10px;
    border-radius: 20px 40px;
    position: relative;
}

