body {
    height: 60vh;
    margin: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 128, .5);
}

h1 {
    font-size: 150%;
    font-weight: bolder;  
    color: maroon;
    font-family: 'Courier New', Courier, monospace;
    text-align :center;
    text-transform: capitalize;
    margin: 1em;
}
#game-board {
    margin: auto 0;
    width:  480px;
    height: 480px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid teal;
    border-radius: 30px 90px 30px 90px;
    background-color: beige;
    perspective: 1000px; 
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    margin: auto 0;
    border: 6px solid #ffa500;
    border-radius: 20px 40px 20px 40px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition:transform .3s;    
}

.card:hover {
    margin: 5px;
    position: sticky;
    top: 2px;
    transition: transform .2s;
    transform: scale(.70)
}

.card.flip {
    transform: rotateX(180deg);
    
}

.card.matched {
    animation: circle 1s linear infinite 200ms;
}
@keyframes circle {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotaete (-10deg);
    }
}

.front {
    border: 4px solid purple; 
    border-radius: 20px 40px 20px 40px;
    width: 100%;
    height: 100%;   
    position: absolute;
    backface-visibility: hidden;
}

.back {
    border: 4px solid purple;
    border-radius: 20px 40px 20px 40px;
    width: 100%;
    height: 100%;   
    position: absolute;
    backface-visibility: hidden;
    transition-duration: 1s;
    transform: rotateX(180deg);
}


.announcement {
    margin: 2em;
    font-size: 24px;
    color: coral;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    position: relative;
}

.score {
    font-size: 24px;
    color: coral;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    position: relative;
}

#reset {
    color: coral;
    margin: auto 0;
    padding: 10px;
    border-radius: 20px 40px;
    position: relative;
}

#reset:hover {
    text-anchor: burlywood;
    background-color:midnightblue;

}