@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');


body {
    height: min-content;
    width: min-content;
    margin: 50px;
    display: grid;
    max-width: 100%;
    box-sizing: border-box;
    background-image: url(wireframe/album-cover.jpg);
    background-position: center;
    background-size: cover;
    display: block;         
}

audio::-webkit-media-controls-panel {
    background-color: aqua;
}

.flex-end {
    padding: 10px;
    display: flex;
    position: relative;  
    justify-content: flex-end;
}

#instructions {
    margin: 1em;
    font-size: large;
    font-family: 'Caveat', cursive;
    color: aqua;
    justify-content: center;
    text-align: center;
    align-self: center;
    position: relative;
}

#how {
    color: #119f16;
    font-size: larger;
}

#title {
    margin: 0.5em;
    font-size: xx-large;
    color: orangered;
    justify-content: center;
    font-family: 'Caveat', cursive;
    text-align: center;
    align-self: center;
    position: relative;
}

#game-board { 
    width:  480px;
    height: 500px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    border: 5px solid orangered;
    border-radius: 30px 90px 30px 90px;
    background-image: url(wireframe/background-img/mojo-verse.jpg);
    background-size: contain;    
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 20%;
    margin: 4px;
    padding: 3px;
    background-size: cover;
    background-image: url(wireframe/strboi.png);
    border: 3px solid #ffa500;
    border-radius: 20px 40px 20px 40px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition:transform .3s;    
}

.card:hover {
    margin: 5px;
    position: sticky;
    top: 2px;
    transition: transform .2s;
    transform: scale(.70)
}

.card.flip {
    transform: rotateX(180deg);   
}

.card.matched {
    animation: circle 10s;
    visibility:hidden;
}

.front {
    border: 4px solid purple; 
    border-radius: 20px 40px 20px 40px;
    width: 100%;
    height: 100%;   
    position: absolute;
    backface-visibility: hidden;
}

.back {
    border: 4px solid teal;
    border-radius: 20px 40px 20px 40px;
    width: 100%;
    height: 100%;   
    position: absolute;
    backface-visibility: hidden;
    transition-duration: 1s;
    transform: rotateX(180deg);
}

.announcements {
    display: inline-flex;
    position: relative;
    font-family: 'Caveat', cursive;
}

.display {
    margin: auto 0;
    font-size: 28px;
    height: 25%;
    width: 30%;
    color: greenyellow;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
    align-self: contain;   
}

.timerBox {
    margin: 20px;
    height: 25%;
    width: 30%;
    font-size: 14px;
    color: aqua;
    padding: 16px;
    text-align: center;
    background: midnightblue;
    border: 2px solid purple;
    border-radius: 20px 20px;
}

.score {
    font-size: 20px;
    margin: 20px;
    color: purple;
    font-weight: bolder;
    height: 10%;
    width: 20%;
    background: aqua;
    border: 2px solid maroon;
    border-radius: 20px 20px;
    text-align: center;
    padding: 15px;   
}

#reset-btn {
    font-size: 12px;
    font-style: oblique;
    color: coral;
    background-color: midnightblue;
    font-weight: bolder;
    margin: 20px;
    height: 10%;
    width: 20%;
    padding: 10px;
    border: 2px solid maroon;
    border-radius: 20px 40px;
}

#reset-btn:hover {
    text-anchor: burlywood;
    background-color:aqua;
}